h1{
    color: beige;
    text-align: center;
}
#vero{
    margin-top: 10px;
    margin-bottom: 20px;
}
#pablo{
    margin-top: 10px;
    margin-bottom: 20px;
}
#cont{
    width: 500px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(38, 38, 38);
    /* box-shadow:  -1px -1px  1px 10px rgb(160, 154, 154); */
    box-shadow: 15px 15px white; 
    box-shadow: inset 0 0 10px 0 white

}
#nm{
    color: beige;
    margin-bottom: 20px;
    font-size: 20px;
}
h5{
    color: black;
}

#limpiar{
    border-radius: 10px;
    color: rgb(13, 12, 12);
    font-size: 20px;
    height: 40px; 
    width:150px ;
    background-color: rgb(140, 136, 136);
    margin-top: 470px;
}#limpiar:hover{
    background-color: red;
    font-family:fantasy;

}

#boton{
    background-color: rgb(160, 168, 160);
    border-radius: 10px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    width: 140px;
    height: 40px;
    
}
#boton:hover {
    color:rgb(246, 246, 251) ;
    background-color: rgb(59, 152, 74);
    font-family:fantasy;


}
#td{
    margin-top: 15px;
    color: aliceblue;
    font-size: 20px;
    font-family: serif;
}
#tdd{
    margin-top: 15px;
    color: aliceblue;
    font-size: 40px;
    font-family: serif;
    margin-bottom: 5px;
}
#pablo{
    border: solid white;
    background-color: rgb(134, 131, 131);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
}#pablo:hover{
    background-color: rgba(192, 218, 218, 0.898);



}
#vero{
    border: solid white;
    background-color: rgb(134, 131, 131);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
}#vero:hover{
    background-color: rgba(192, 218, 218, 0.898);


}

#resu{
    color: rgb(38, 38, 38);
}
#h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 40px; 
    margin-top: -5px;
}



