h1{
    color: beige;
    text-align: center;
}
#vero{
    margin-top: 10px;
    margin-bottom: 20px;
}
#pablo{
    margin-top: 10px;
    margin-bottom: 20px;
}
#cont{
    margin-top: 70px;
    border: solid rgb(40, 40, 124);
    border-radius: 20px;
    background-color: black;

}
#nm{
    color: beige;
    margin-bottom: 20px;
    font-size: 20px;
}
h5{
    color: black;
}
#limpiarboton{
    margin-bottom: 10px;
}
#limpiar{
    border-radius: 20px;
    color: rgb(246, 246, 246);
    font-size: 20px;
}

#boton{
    background-color: rgb(57, 211, 57);
    border-radius: 20px;
    color: rgb(246, 246, 246);
    font-size: 20px;
}




